<div>
  <md-toolbar color="primary">
    <button md-icon-button (click)="openedSidenav=!openedSidenav" *ngIf="!bigScreen">
      <md-icon class="material-icons">menu</md-icon>
    </button>

    <span>Spring Angular Demo - from the development to the production</span>

  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">

  </md-menu>
    <md-sidenav-container class="container">
      <md-sidenav  disableClose="false" class="sidenav" #sidenav [opened]="openedSidenav" [mode]="bigScreen ? 'side' : 'side'">
        <app-lateral-menu></app-lateral-menu>
       </md-sidenav>
      <div class="sidenav-content">
        <md-card>
          <router-outlet></router-outlet>
        </md-card>
      </div>

    </md-sidenav-container>

  </div>


  <app-footer></app-footer>

