<td-layout>
  <td-navigation-drawer flex sidenavTitle="Marco Molteni" logo="assets:teradata" name="Marco Molteni" email="moltenma">
    <md-nav-list>
      <a *ngFor="let item of routes" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
    </md-nav-list>
    <div td-navigation-drawer-menu>
      <md-nav-list>
        <a *ngFor="let item of usermenu" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
      </md-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav >
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button md-icon-button td-menu-button tdLayoutToggle>
        <md-icon>menu</md-icon>
      </button>
      <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:teradata"></md-icon>
      <span [routerLink]="['/']" class="cursor-pointer">Covalent</span>
      <span flex></span>
      <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
      <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
    </div>

    <router-outlet></router-outlet>

  </td-layout-nav>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">2017 - Marco Molteni</span>
    </div>
  </td-layout-footer>
</td-layout>
