<md-card-content>
  <markdown [data]="markdown"></markdown>
  <md-chip-list>
    <md-chip color="primary" selected="true">Primary main theme</md-chip>
    <md-chip color="accent" selected="true">Accent main theme</md-chip>
  </md-chip-list>
  <br>
  <md-chip-list class="extra-theme">
    <md-chip color="primary" selected="true">Primary extra theme</md-chip>
    <md-chip color="accent" selected="true">Accent extra theme</md-chip>
  </md-chip-list>
</md-card-content>
<md-card-footer>
    <span class="git-reference">
         Improve this article on <a href="{{githubReference}}" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i></a>
    </span>
</md-card-footer>
