<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">ChatBot using Websockets</h3></div>
  <div class="panel-body">
    <br>
    The goal is to show an implementation of Websockets to create 'stupid' ChatBot.
    <br>
    This page comes from javademo.io, it implements web sockets using the Java EE standard (JSR 356).
    A new example will be added to show the 'Spring way' for the Websockets.
  </div>
</div>

<form class="form-horizontal" (ngSubmit)="onSubmit()" #participantForm="ngForm">

  <div class="form-group">
    <div class="col-sm-10">


      <div class="form-group">
        <label for="message" class="col-sm-2 control-label">Message (try to say 'Hi')</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="message" [(ngModel)]="lastMessage"
                 name="message  ">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div>
  <ul>
    <li *ngFor="let text of messages">
      {{ text }}
    </li>
  </ul>
</div>
