<div class="container">
  <div id="accordion" role="tablist" aria-multiselectable="true" class="col-md-3">
    <div class="list-group-item bg-faded">
      <span class="text-muted">Architecture</span>
      <span class="pull-right">
        <button type="button" class="btn btn-sm btn-outline-secondary pull-right">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </span>
    </div>

    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-jsb_prepared="fwqz0docu5">
            <span class="tag tag-danger tag-pill float-xs-right">14</span>
            <i class="fa fa-folder" aria-hidden="true"></i>
            P002 Plant Name
          </a>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <ul class="list-group">
          <a href="#" class="list-group-item" data-jsb_prepared="e03o45r9x5">
            <span class="tag tag-danger tag-pill float-xs-right">14</span>
            Delivery Notes
          </a>
          <a href="#" class="list-group-item" data-jsb_prepared="1eceg1bvu7">
            <span class="tag tag-default tag-pill float-xs-right">2</span>
            Down Times
          </a>
          <a href="#" class="list-group-item" data-jsb_prepared="v8q5lvmxwq">
            <span class="tag tag-warning tag-pill float-xs-right">5</span>
            Lab Inspections
          </a>
          <a href="#" class="list-group-item" data-jsb_prepared="444zg6g8t4">
            <span class="tag tag-default tag-pill float-xs-right">1</span>
            Notifications
          </a>
          <a href="#" class="list-group-item" data-jsb_prepared="b66qhv6r9n">
            <span class="tag tag-default tag-pill float-xs-right">1</span>
            Process Orders
          </a>
          <a href="#" class="list-group-item" data-jsb_prepared="idzrlzz8jn">
            <span class="tag tag-default tag-pill float-xs-right">1</span>
            Purchase Orders
          </a>

        </ul>
      </div>

      <div class="card">
        <div class="card-header" role="tab" id="heading2">
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2" data-jsb_prepared="5iohr3yomg">
              <span class="tag tag-danger tag-pill float-xs-right">4</span>
              0256
            </a>
          </h5>
        </div>
        <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
          <ul class="list-group">
            <a href="#" class="list-group-item" data-jsb_prepared="f9sbelgkuq">
              <span class="tag tag-danger tag-pill float-xs-right">14</span>
              Delivery Notes
            </a>
            <a href="#" class="list-group-item" data-jsb_prepared="449inpk95l">
              <span class="tag tag-default tag-pill float-xs-right">2</span>
              Down Times
            </a>
            <a href="#" class="list-group-item" data-jsb_prepared="r8avaah8zo">
              Equipment
            </a>
            <a href="#" class="list-group-item" data-jsb_prepared="pk4d1vg7y8">
              <span class="tag tag-default tag-pill float-xs-right">1</span>
              Inventory
            </a>

            <a href="#" class="list-group-item" data-jsb_prepared="7gqxdzp6p8">
              <span class="tag tag-warning tag-pill float-xs-right">5</span>
              Lab Inspections
            </a>
            <a href="#" class="list-group-item" data-jsb_prepared="0jwwhnum1d">
              <span class="tag tag-default tag-pill float-xs-right">1</span>
              Notifications
            </a>
            <a href="#" class="list-group-item" data-jsb_prepared="jp6tjp5nqd">
              <span class="tag tag-default tag-pill float-xs-right">1</span>
              Process Orders
            </a>
          </ul>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="heading2">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse2" data-jsb_prepared="hz7cpcrhzd">
                <span class="tag tag-warning tag-pill float-xs-right">4</span>
                0710
              </a>
            </h5>
          </div>
          <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading2">
            <ul class="list-group">
              <a href="#" class="list-group-item" data-jsb_prepared="fmguqq826l">
                <span class="tag tag-default tag-pill float-xs-right">14</span>
                Delivery Notes
              </a>
              <a href="#" class="list-group-item" data-jsb_prepared="rmc6ibgdoo">
                <span class="tag tag-default tag-pill float-xs-right">2</span>
                Down Times
              </a>
              <a href="#" class="list-group-item" data-jsb_prepared="q2wjjg2s6x">
                Equipment
              </a>
              <a href="#" class="list-group-item" data-jsb_prepared="1iqy6nzbgs">
                <span class="tag tag-default tag-pill float-xs-right">1</span>
                Inventory
              </a>
              <a href="#" class="list-group-item" data-jsb_prepared="rfwrgp3ge3">
                <span class="tag tag-warning tag-pill float-xs-right">5</span>
                Lab Inspections
              </a>
              <a href="#" class="list-group-item" data-jsb_prepared="qe3gw3799o">
                <span class="tag tag-default tag-pill float-xs-right">1</span>
                Notifications
              </a>
              <a href="#" class="list-group-item" data-jsb_prepared="2kt1teth8q">
                <span class="tag tag-default tag-pill float-xs-right">1</span>
                Process Orders
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div></div></div>
<div id="push"></div>
