<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Spring Boot 2.0 and Angular 4 (cli) demo</h3>
  </div>
  <div class="panel-body">
    In this demo we show some of the new features of Spring Boot 2.0 and some JSR part of Java EE 8. We integrate these new feature a JavaScript / Reactive frontend.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Why this demo?</h3>
  </div>
  <div class="panel-body">
    The original idea was to cover the new features of Java EE 8. You can visit the sister demo here <a href="http://javademo.io" target="_blank">javademo.io</a>.
    <br><br>
    Spring and Java EE are <b>great platforms</b> to build software and Java benefits greatly by the contribution of these 2 communities. For this reason I'm doing the effort to build a similar website for Spring.
    <br> The content of the two demos will be similar but different like the 2 platforms ;-)
 The Spring version will be a bit more customized and personally branded than the Java EE version.
    <br><br> The Java EE demo has want to be a present for the Java EE (JCP) community and a neutral demo.
    <br> <br>You can test yourself the two platform and contribute to the demo. You are invited to actively contribute to your favourite Java project. It's a great personal experience and an important contribution to the future of Java.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Status and future development of this app</h3>
  </div>
  <div class="panel-body">
  Currently this demo is migrated from Java EE, there are still a lot of small problems to fix, be patient.<br>
    The demo will be regularly updated with the new features offered by Spring and Angular. Check GitHub (or my blog or twitter) for the updates.

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">How can I contribute?</h3>
  </div>
  <div class="panel-body">
    You can improve the code, improve the layout, send pull requests or ask for new features here: <a href="https://github.com/marco76/java-demo" target="_blank">GitHub</a>
  </div>
</div>

This Java EE status will be replaced with the Spring modules.

<app-jsr-status></app-jsr-status>


